<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="/">
                    <div class="brand-logo"><img class="logo" src="/AdminAssets/images/logo/logo.png"></div>
                    <h2 class="brand-text mb-0">Frest</h2>
                </a>
            </li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i>
                <i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i>
            </a>
                </li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class=" nav-item" asp-active-page="/Index">
                <a asp-area="Admin" asp-page="/Index">
                    <i class="menu-livicon" data-icon="Dashboard"></i><span class="menu-title" data-i18n="Disabled Menu">داشبورد</span>
                </a>
            </li>

            <li class=" nav-item" asp-active-page="/Social/Index">
                <a asp-area="Admin" asp-page="/Social/Index">
                    <i class="menu-livicon" data-icon="Dashboard"></i><span class="menu-title" data-i18n="Disabled Menu">مدیریت شبکه های اجتماعی</span>
                </a>
            </li>   
            
            <li class=" nav-item" asp-active-page="/Titles/Index">
                <a asp-area="Admin" asp-page="/Titles/Index">
                    <i class="menu-livicon" data-icon="Dashboard"></i><span class="menu-title" data-i18n="Disabled Menu">مدیریت عناوین صفحه اصلی</span>
                </a>
            </li>
            
            <li class=" nav-item" asp-active-page="/Site/Index">
                <a asp-area="Admin" asp-page="/Site/Index">
                    <i class="menu-livicon" data-icon="Dashboard"></i><span class="menu-title" data-i18n="Disabled Menu">مدیریت صفحه اصلی</span>
                </a>
            </li>

            <li class=" nav-item" asp-active-page="/AboutMe/Index">
                <a asp-area="Admin" asp-page="/AboutMe/Index">
                    <i class="menu-livicon" data-icon="Dashboard"></i><span class="menu-title" data-i18n="Disabled Menu">مدیریت درباره من</span>
                </a>
            </li>
            
            <li class=" nav-item" asp-active-page="/Info/Index">
                <a asp-area="Admin" asp-page="/Info/Index">
                    <i class="menu-livicon" data-icon="Dashboard"></i><span class="menu-title" data-i18n="Disabled Menu">مدیریت اطلاعات درباره من</span>
                </a>
            </li>
            
            <li class=" nav-item" asp-active-page="/Favorites/Index">
                <a asp-area="Admin" asp-page="/Favorites/Index">
                    <i class="menu-livicon" data-icon="Dashboard"></i><span class="menu-title" data-i18n="Disabled Menu">مدیریت علایق من</span>
                </a>
            </li>

            <li class=" nav-item" asp-active-page="/Experience/Index">
                <a asp-area="Admin" asp-page="/Experience/Index">
                    <i class="menu-livicon" data-icon="Dashboard"></i><span class="menu-title" data-i18n="Disabled Menu">مدیریت مهارت من</span>
                </a>
            </li>
            
            <li class=" nav-item" asp-active-page="/Contact/Index">
                <a asp-area="Admin" asp-page="/Contact/Index">
                    <i class="menu-livicon" data-icon="Dashboard"></i><span class="menu-title" data-i18n="Disabled Menu">لیست پیام ها
                    </span>
                </a>
            </li>
            
            <li class=" nav-item" asp-active-page="/Portfolio/Index">
                <a asp-area="Admin" asp-page="/Portfolio/Index">
                    <i class="menu-livicon" data-icon="Dashboard"></i><span class="menu-title" data-i18n="Disabled Menu">مدیریت نمونه کار ها
                    </span>
                </a>
            </li>


            <li class=" nav-item">
                <a asp-page="/Login" asp-page-handler="LogOut">
                    <i class="menu-livicon" data-icon="external-link"></i><span class="menu-title" data-i18n="Disabled Menu">خروج از حساب کاربری</span>
                </a>
            </li>
        </ul>
    </div>
</div>