<div class="page pt-resume" data-simplebar>
    <section class="container">

     

        <!-- Skills Row Start -->
        <div class="row mt-100">

            <!-- Header Block -->
            <div class="col-md-12">
                <div class="header-box mb-50">
                    <h3>مهارت ها</h3>
                </div>
            </div>
        </div>

        <div class="box-1 skills">
            <div class="row">
                <div class="col-md-6">

                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">HTML5</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:98%">
                                <div class="progress-value">98%</div>
                            </div>
                        </div>
                    </div>

                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">CSS3</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:85%">
                                <div class="progress-value">85%</div>
                            </div>
                        </div>
                    </div>

                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">Javascript</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:90%">
                                <div class="progress-value">90%</div>
                            </div>
                        </div>
                    </div>

                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">طراح رابط کاربری</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:77%">
                                <div class="progress-value">77%</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">

                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">HTML5</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:98%">
                                <div class="progress-value">98%</div>
                            </div>
                        </div>
                    </div>

                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">CSS3</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:85%">
                                <div class="progress-value">85%</div>
                            </div>
                        </div>
                    </div>

                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">Javascript</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:90%">
                                <div class="progress-value">90%</div>
                            </div>
                        </div>
                    </div>

                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">طراح رابط کاربری</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:77%">
                                <div class="progress-value">77%</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Work Process Row Start -->
        <div class="row mt-100">

            <!-- Header Block -->
            <div class="col-md-12">
                <div class="header-box mb-50">
                    <h3>پروسه کاری من</h3>
                </div>
            </div>
        </div>

        <div class="box-2 work-process mb-100">
            <div class="row">
                <div class="col-lg-4 col-sm-12 ltr">

                    <!-- Working Process Item-->
                    <div class="single-wp width-sm process-1">
                        <p class="wp-step">01</p>
                        <h4 class="wp-title">بررسی ایده</h4>
                        
                    </div>

                    <!-- Working Process Item-->
                    <div class="single-wp width-sm process-2">
                        <p class="wp-step">02</p>
                        <h4 class="wp-title">ارائه طرح اولیه</h4>
                        
                    </div>
                </div>

                <div class="col-lg-4 hidden-sm">

                    <!-- Working Process Circle-->
                    <div class="wp-circle">
                        <h4>پروسه کاری</h4>
                        <span class="dots top-l"></span>
                        <span class="dots bottom-l"></span>
                        <span class="dots top-r"></span>
                        <span class="dots bottom-r"></span>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 rtl">

                    <!-- Working Process Item-->
                    <div class="single-wp width-sm process-3">
                        <p class="wp-step">03</p>
                        <h4 class="wp-title">طرح اولیه وب</h4>
                        
                    </div>

                    <!-- Working Process Item-->
                    <div class="single-wp width-sm process-4">
                        <p class="wp-step">04</p>
                        <h4 class="wp-title">طرح نهایی</h4>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>