@page
@model IndexModel


    <div id="home">
        <div id="about">
            <div id="resume">
                <div id="portfolio">
                    <div id="blog">
                        <div id="contact">

                            <div class="header-mobile">
                                <a class="header-toggle"><i class="fas fa-bars"></i></a>
                                <h2>باها</h2>
                            </div>

                            <!-- Left Block -->
                            <nav class="header-main" data-simplebar>

                                <!-- Logo -->
                                <div class="logo">
                                    <img src="img/logo.png" alt="">
                                </div>

                                <ul>
                                    <li data-tooltip="خانه" data-position="top">
                                        <a href="#home" class="icon-h fas fa-house-damage"></a>
                                    </li>
                                    <li data-tooltip="درباره" data-position="top">
                                        <a href="#about" class="icon-a fas fa-user-tie"></a>
                                    </li>
                                    <li data-tooltip="رزومه" data-position="top">
                                        <a href="#resume" class="icon-r fas fa-address-book"></a>
                                    </li>
                                    <li data-tooltip="نمونه‌کارها" data-position="top">
                                        <a href="#portfolio" class="icon-p fas fa-briefcase"></a>
                                    </li>
                                    <li data-tooltip="بلاگ" data-position="top">
                                        <a href="#blog" class="icon-b fas fa-receipt"></a>
                                    </li>
                                    <li data-tooltip="تماس" data-position="bottom">
                                        <a href="#contact" class="icon-c fas fa-envelope"></a>
                                    </li>
                                </ul>

                                <!-- Sound wave -->
                                <a class="music-bg">
                                    <div class="lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <p> صدا </p>
                                </a>
                            </nav>

                            <!-- Home Section -->
                            <div class="pt-home" style="background-image: url('img/home-bg.jpg')">
                                <section>

                                    <!-- Banner -->
                                    <div class="banner">
                                        <h1>جان اسنو</h1>
                                        <p class="cd-headline rotate-1">
                                            <span class="cd-words-wrapper">
                                                <b class="is-visible">توسعه دهنده</b>
                                                <b>عکاس حرفه ای</b>
                                                <b>طراح</b>
                                                <b>فریلنسر</b>
                                            </span>
                                        </p>
                                    </div>

                                    <!-- Language -->
                                    <div class="lang">
                                        <ul>
                                            <li><a href="#" class="active">فارسی</a></li>
                                            <li><a href="#">انگلیسی</a></li>
                                        </ul>
                                    </div>

                                    <!-- Social -->
                                    <div class="social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </section>
                            </div>

                            <!-- About Section -->
                            <div class="page pt-about" data-simplebar>
                                <section class="container">

                                    <!-- Section Title -->
                                    <div class="header-page mt-70 mob-mt">
                                        <h2>درباره من</h2>
                                        <span></span>
                                    </div>

                                    <!-- Personal Info Start -->
                                    <div class="row mt-100">

                                        <!-- Information Block -->
                                        <div class="col-lg-12 col-sm-12">
                                            <div class="info box-1">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-4">
                                                        <div class="photo">
                                                            <img alt="" src="img/user-photo.jpg">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9 col-sm-8">
                                                        <h4>جان اسنو</h4>
                                                        <div class="loc">
                                                            <i class="fas fa-map-marked-alt"></i> تبریز، ایران
                                                        </div>
                                                        <p>
                                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه
                                                        </p>
                                                        <p>
                                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                                                        </p>
                                                    </div>

                                                    <!-- Icon Info -->
                                                    <div class="col-lg-3 col-sm-4">
                                                        <div class="info-icon">
                                                            <i class="fas fa-award"></i>
                                                            <div class="desc-icon">
                                                                <h6>8 سال کار</h6>
                                                                <p>تجربه</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Icon Info -->
                                                    <div class="col-lg-3 col-sm-4">
                                                        <div class="info-icon">
                                                            <i class="fas fa-certificate"></i>
                                                            <div class="desc-icon">
                                                                <h6>500+ پروژه</h6>
                                                                <p>اتمام یافته</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Icon Info -->
                                                    <div class="col-lg-3 col-sm-4">
                                                        <div class="info-icon">
                                                            <i class="fas fa-user-astronaut"></i>
                                                            <div class="desc-icon">
                                                                <h6>فریلنس</h6>
                                                                <p>آماده</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-12 pt-50">
                                                        <a href="#" class="btn-st">دریافت رزومه</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Interests Row Start -->
                                    <div class="row mt-100">

                                        <!-- Header Block -->
                                        <div class="col-md-12">
                                            <div class="header-box mb-50">
                                                <h3>علایق من</h3>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-sm-12">
                                            <div class="box-2">
                                                <div class="row">
                                                    <!-- Interests Item -->
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="inter-icon">
                                                            <i class="fas fa-music"></i>
                                                            <div class="desc-inter">
                                                                <h6>موزیک</h6>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Interests Item -->
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="inter-icon">
                                                            <i class="fas fa-route"></i>
                                                            <div class="desc-inter">
                                                                <h6>گردشگری</h6>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Interests Item -->
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="inter-icon">
                                                            <i class="far fa-image"></i>
                                                            <div class="desc-inter">
                                                                <h6>تصاویر</h6>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Interests Item -->
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="inter-icon">
                                                            <i class="fas fa-film"></i>
                                                            <div class="desc-inter">
                                                                <h6>فیلم ها</h6>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Interests Item -->
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="inter-icon">
                                                            <i class="fas fa-space-shuttle"></i>
                                                            <div class="desc-inter">
                                                                <h6>فضا</h6>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Interests Item -->
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="inter-icon">
                                                            <i class="fas fa-book"></i>
                                                            <div class="desc-inter">
                                                                <h6>کتاب ها</h6>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Interests Item -->
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="inter-icon">
                                                            <i class="fas fa-gamepad"></i>
                                                            <div class="desc-inter">
                                                                <h6>بازی</h6>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Interests Item -->
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="inter-icon">
                                                            <i class="fas fa-tree"></i>
                                                            <div class="desc-inter">
                                                                <h6>جنگل</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Service Row Start -->
                                    <div class="row mt-100">

                                        <!-- Header Block -->
                                        <div class="col-md-12">
                                            <div class="header-box mb-50">
                                                <h3>خدمات</h3>
                                            </div>
                                        </div>

                                        <!-- Service Item -->
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="service box-1 mb-40">
                                                <i class="fas fa-desktop"></i>
                                                <h4>طراحی وب</h4>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها</p>
                                            </div>
                                        </div>

                                        <!-- Service Item -->
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="service box-2 mb-40">
                                                <i class="fas fa-cogs"></i>
                                                <h4>توسعه وب</h4>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها</p>
                                            </div>
                                        </div>

                                        <!-- Service Item -->
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="service box-2 mb-40">
                                                <i class="fas fa-mobile-alt"></i>
                                                <h4>طراحی واکنشگرا</h4>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها</p>
                                            </div>
                                        </div>

                                        <!-- Service Item -->
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="service box-1 mb-40">
                                                <i class="fas fa-medkit"></i>
                                                <h4>پشتیبانی سریع</h4>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Testimonial Row Start -->
                                    <div class="row testimonial mt-60">

                                        <!-- Header Block -->
                                        <div class="col-md-12">
                                            <div class="header-box mb-50">
                                                <h3>دیدگاه مشتریان</h3>
                                            </div>
                                        </div>

                                        <div class="owl-carousel owl-theme">

                                            <!-- Testimonail Item -->
                                            <div class="testimonial-item">
                                                <div class="media">
                                                    <img src="img/testimonials/testimonial-1.jpg" alt="">
                                                    <div class="content">
                                                        <h4>تونی استارک</h4>
                                                        <p>توسعه وب</p>
                                                    </div>
                                                    <ul class="rating">
                                                        <li><i class="far fa-star"></i></li>
                                                        <li><i class="far fa-star"></i></li>
                                                        <li><i class="far fa-star"></i></li>
                                                        <li><i class="far fa-star"></i></li>
                                                        <li><i class="far fa-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="comment pt-30">
                                                    <p>
                                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                                                    </p>
                                                </div>
                                            </div>

                                            <!-- Testimonail Item -->
                                            <div class="testimonial-item">
                                                <div class="media">
                                                    <img src="img/testimonials/testimonial-2.jpg" alt="">
                                                    <div class="content">
                                                        <h4>استیو راجرز</h4>
                                                        <p>طراح رابط کاربری</p>
                                                    </div>
                                                    <ul class="rating">
                                                        <li><i class="far fa-star"></i></li>
                                                        <li><i class="far fa-star"></i></li>
                                                        <li><i class="far fa-star"></i></li>
                                                        <li><i class="far fa-star"></i></li>
                                                        <li><i class="far fa-star-half"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="comment pt-30">
                                                    <p>
                                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                                                    </p>
                                                </div>
                                            </div>

                                            <!-- Testimonail Item -->
                                            <div class="testimonial-item">
                                                <div class="media">
                                                    <img src="img/testimonials/testimonial-3.jpg" alt="">
                                                    <div class="content">
                                                        <h4>اولیور کویین</h4>
                                                        <p>طراح رابط کاربری</p>
                                                    </div>
                                                    <ul class="rating">
                                                        <li><i class="far fa-star"></i></li>
                                                        <li><i class="far fa-star"></i></li>
                                                        <li><i class="far fa-star"></i></li>
                                                        <li><i class="far fa-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="comment pt-30">
                                                    <p>
                                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Price Row Start -->
                                    <div class="row mt-100 mb-60">

                                        <!-- Header Block -->
                                        <div class="col-md-12">
                                            <div class="header-box mb-90">
                                                <h3>قیمت ها</h3>
                                            </div>
                                        </div>

                                        <!-- Price Item -->
                                        <div class="col-lg-4 col-sm-12">
                                            <div class="price box-1">
                                                <div class="head-price">
                                                    <i class="fa fa-user"></i>
                                                    <h4>پایه</h4>
                                                </div>
                                                <div class="body-price">
                                                    <div class="price-plan">
                                                        <span class="period">ماهانه</span>
                                                        <span class="number">25,000</span>
                                                        <span class="currency">تومان</span>
                                                    </div>
                                                    <div class="list-price">
                                                        <ul>
                                                            <li>طراحی وب</li>
                                                            <li>توسعه وب</li>
                                                            <li class="disable">طراحی واکنشگرا</li>
                                                            <li class="disable">توسعه بازی</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="footer-price">
                                                    <a href="#" class="btn-st">هم اکنون بخرید</a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Price Item -->
                                        <div class="col-lg-4 col-sm-12">
                                            <div class="price box-2">
                                                <div class="head-price">
                                                    <i class="fa fa-briefcase"></i>
                                                    <h4>استاندارد</h4>
                                                </div>
                                                <div class="body-price">
                                                    <div class="price-plan">
                                                        <span class="period">ماهانه</span>
                                                        <span class="number">40,000</span>
                                                        <span class="currency">تومان</span>
                                                    </div>
                                                    <div class="list-price">
                                                        <ul>
                                                            <li>طراحی وب</li>
                                                            <li>توسعه وب</li>
                                                            <li>طراحی واکنشگرا</li>
                                                            <li class="disable">توسعه بازی</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="footer-price">
                                                    <a href="#" class="btn-st">هم اکنون بخرید</a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Price Item -->
                                        <div class="col-lg-4 col-sm-12">
                                            <div class="price box-1">
                                                <div class="head-price">
                                                    <i class="fa fa-globe"></i>
                                                    <h4>طلایی</h4>
                                                </div>
                                                <div class="body-price">
                                                    <div class="price-plan">
                                                        <span class="period">ماهانه</span>
                                                        <span class="number">55,000</span>
                                                        <span class="currency">تومان</span>
                                                    </div>
                                                    <div class="list-price">
                                                        <ul>
                                                            <li>طراحی وب</li>
                                                            <li>توسعه وب</li>
                                                            <li>طراحی واکنشگرا</li>
                                                            <li>توسعه بازی</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="footer-price">
                                                    <a href="#" class="btn-st">هم اکنون بخرید</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <!-- Resume Section -->
                            <div class="page pt-resume" data-simplebar>
                                <section class="container">

                                    <!-- Section Title -->
                                    <div class="header-page mt-70 mob-mt">
                                        <h2>رزومه</h2>
                                        <span></span>
                                    </div>

                                    <!-- Experience & Education Row Start -->
                                    <div class="row mt-100">

                                        <!-- Experience Column Start -->
                                        <div class="col-lg-6 col-sm-12">

                                            <!-- Header Block -->
                                            <div class="header-box mb-50">
                                                <h3>سوابق کاری</h3>
                                            </div>

                                            <div class="experience box-1">

                                                <!-- Experience Item -->
                                                <div class="item">
                                                    <div class="main">
                                                        <h4>طراحی وب</h4>
                                                        <p><i class="far fa-calendar-alt"></i>1392 - 1394 | شرکت مایکروسافت</p>
                                                    </div>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                                                </div>

                                                <!-- Experience Item -->
                                                <div class="item">
                                                    <div class="main">
                                                        <h4>توسعه رابط کاربری</h4>
                                                        <p><i class="far fa-calendar-alt"></i>1392 - 1394 | شرکت مایکروسافت</p>
                                                    </div>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                                                </div>

                                                <!-- Experience Item -->
                                                <div class="item">
                                                    <div class="main">
                                                        <h4>توسعه وب</h4>
                                                        <p><i class="far fa-calendar-alt"></i>1392 - 1394 | شرکت مایکروسافت</p>
                                                    </div>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Education Column Start -->
                                        <div class="col-lg-6 col-sm-12">

                                            <!-- Header Block -->
                                            <div class="header-box mb-50 mob-box-mt">
                                                <h3>سوابق تحصیلی</h3>
                                            </div>

                                            <div class="experience box-2">

                                                <!-- Education Item -->
                                                <div class="item">
                                                    <div class="main">
                                                        <h4>دکتری</h4>
                                                        <p><i class="far fa-calendar-alt"></i>1392 - 1394 | علوم کامپیوتر</p>
                                                    </div>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                                                </div>

                                                <!-- Education Item -->
                                                <div class="item">
                                                    <div class="main">
                                                        <h4>فوق لیسانس</h4>
                                                        <p><i class="far fa-calendar-alt"></i>1394 - 1396 | علوم کامپیوتر</p>
                                                    </div>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                                                </div>

                                                <!-- Education Item -->
                                                <div class="item">
                                                    <div class="main">
                                                        <h4>فارغ التحصیلی</h4>
                                                        <p><i class="far fa-calendar-alt"></i>1396 - 1398 | علوم کامپیوتر</p>
                                                    </div>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Skills Row Start -->
                                    <div class="row mt-100">

                                        <!-- Header Block -->
                                        <div class="col-md-12">
                                            <div class="header-box mb-50">
                                                <h3>مهارت ها</h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="box-1 skills">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <!-- Skill Item -->
                                                <div class="skill-item">
                                                    <h4 class="progress-title">HTML5</h4>
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width:98%">
                                                            <div class="progress-value">98%</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Skill Item -->
                                                <div class="skill-item">
                                                    <h4 class="progress-title">CSS3</h4>
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width:85%">
                                                            <div class="progress-value">85%</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Skill Item -->
                                                <div class="skill-item">
                                                    <h4 class="progress-title">Javascript</h4>
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width:90%">
                                                            <div class="progress-value">90%</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Skill Item -->
                                                <div class="skill-item">
                                                    <h4 class="progress-title">طراح رابط کاربری</h4>
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width:77%">
                                                            <div class="progress-value">77%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="row">

                                                    <!-- Skill Item -->
                                                    <div class="col-lg-6 col-sm-6 skill-chart">
                                                        <div class="chart" data-percent="80" data-bar-color="#fff">
                                                            80% <p>PHP</p>
                                                        </div>
                                                    </div>

                                                    <!-- Skill Item -->
                                                    <div class="col-lg-6 col-sm-6 skill-chart">
                                                        <div class="chart" data-percent="70" data-bar-color="#fff">
                                                            70% <p>Illustrator</p>
                                                        </div>
                                                    </div>

                                                    <!-- Skill Item -->
                                                    <div class="col-lg-6 col-sm-6 skill-chart">
                                                        <div class="chart" data-percent="60" data-bar-color="#fff">
                                                            60% <p>فتوشاپ</p>
                                                        </div>
                                                    </div>

                                                    <!-- Skill Item -->
                                                    <div class="col-lg-6 col-sm-6 skill-chart">
                                                        <div class="chart" data-percent="90" data-bar-color="#fff">
                                                            90% <p>AngularJS</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Work Process Row Start -->
                                    <div class="row mt-100">

                                        <!-- Header Block -->
                                        <div class="col-md-12">
                                            <div class="header-box mb-50">
                                                <h3>پروسه کاری من</h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="box-2 work-process mb-100">
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-12 ltr">

                                                <!-- Working Process Item-->
                                                <div class="single-wp width-sm process-1">
                                                    <p class="wp-step">01</p>
                                                    <h4 class="wp-title">بررسی ایده</h4>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
                                                </div>

                                                <!-- Working Process Item-->
                                                <div class="single-wp width-sm process-2">
                                                    <p class="wp-step">02</p>
                                                    <h4 class="wp-title">ارائه طرح اولیه</h4>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 hidden-sm">

                                                <!-- Working Process Circle-->
                                                <div class="wp-circle">
                                                    <h4>پروسه کاری</h4>
                                                    <span class="dots top-l"></span>
                                                    <span class="dots bottom-l"></span>
                                                    <span class="dots top-r"></span>
                                                    <span class="dots bottom-r"></span>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-sm-12 rtl">

                                                <!-- Working Process Item-->
                                                <div class="single-wp width-sm process-3">
                                                    <p class="wp-step">03</p>
                                                    <h4 class="wp-title">طرح اولیه وب</h4>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
                                                </div>

                                                <!-- Working Process Item-->
                                                <div class="single-wp width-sm process-4">
                                                    <p class="wp-step">04</p>
                                                    <h4 class="wp-title">طرح نهایی</h4>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <!-- Portfolio Section -->
                            <div class="page pt-portfolio" data-simplebar>
                                <section class="container">

                                    <!-- Section Title -->
                                    <div class="header-page mt-70 mob-mt">
                                        <h2>نمونه‌کارها</h2>
                                        <span></span>
                                    </div>

                                    <!-- Portfolio Filter Row Start -->
                                    <div class="row mt-100">
                                        <div class="col-lg-12 col-sm-12 portfolio-filter">
                                            <ul>
                                                <li class="active" data-filter="*">همه</li>
                                                <li data-filter=".brand">برند</li>
                                                <li data-filter=".design">طراحی</li>
                                                <li data-filter=".graphic">گرافیک</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Portfolio Item Row Start -->
                                    <div class="row portfolio-items mt-100 mb-100">

                                        <!-- Portfolio Item -->
                                        <div class="item col-lg-4 col-sm-6 graphic">
                                            <figure>
                                                <img alt="" src="img/portfolio/img-1.jpg">
                                                <figcaption>
                                                    <h3>نام پروژه</h3>
                                                    <p>گرافیک</p><i class="fas fa-image"></i>
                                                    <a class="image-link" href="img/portfolio/img-1.jpg"></a>
                                                </figcaption>
                                            </figure>
                                        </div>

                                        <!-- Portfolio Item -->
                                        <div class="item col-lg-4 col-sm-6 design">
                                            <figure>
                                                <img alt="" src="img/portfolio/img-2.jpg">
                                                <figcaption>
                                                    <h3>نام پروژه</h3>
                                                    <p>طراحی</p><i class="fas fa-image"></i>
                                                    <a class="image-link" href="img/portfolio/img-2.jpg"></a>
                                                </figcaption>
                                            </figure>
                                        </div>

                                        <!-- Portfolio Item -->
                                        <div class="item col-lg-4 col-sm-6 brand">
                                            <figure>
                                                <img alt="" src="img/portfolio/img-3.jpg">
                                                <figcaption>
                                                    <h3>نام پروژه</h3>
                                                    <p>گرافیک</p><i class="fas fa-video"></i>
                                                    <a class="video-link" href="video/video-iframe.html"></a>
                                                </figcaption>
                                            </figure>
                                        </div>

                                        <!-- Portfolio Item -->
                                        <div class="item col-lg-4 col-sm-6 graphic">
                                            <figure>
                                                <img alt="" src="img/portfolio/img-4.jpg">
                                                <figcaption>
                                                    <h3>نام پروژه</h3>
                                                    <p>طراحی</p><i class="fas fa-image"></i>
                                                    <a class="image-link" href="img/portfolio/img-4.jpg"></a>
                                                </figcaption>
                                            </figure>
                                        </div>

                                        <!-- Portfolio Item -->
                                        <div class="item col-lg-4 col-sm-6 design">
                                            <figure>
                                                <img alt="" src="img/portfolio/img-5.jpg">
                                                <figcaption>
                                                    <h3>نام پروژه</h3>
                                                    <p>طراحی</p><i class="fas fa-video"></i>
                                                    <a class="video-link" href="video/video-iframe.html"></a>
                                                </figcaption>
                                            </figure>
                                        </div>

                                        <!-- Portfolio Item -->
                                        <div class="item col-lg-4 col-sm-6 brand">
                                            <figure>
                                                <img alt="" src="img/portfolio/img-6.jpg">
                                                <figcaption>
                                                    <h3>نام پروژه</h3>
                                                    <p>برند</p><i class="fas fa-image"></i>
                                                    <a class="image-link" href="img/portfolio/img-6.jpg"></a>
                                                </figcaption>
                                            </figure>
                                        </div>

                                        <!-- Portfolio Item -->
                                        <div class="item col-lg-4 col-sm-6 graphic">
                                            <figure>
                                                <img alt="" src="img/portfolio/img-7.jpg">
                                                <figcaption>
                                                    <h3>نام پروژه</h3>
                                                    <p>برند</p><i class="fas fa-image"></i>
                                                    <a class="image-link" href="img/portfolio/img-7.jpg"></a>
                                                </figcaption>
                                            </figure>
                                        </div>

                                        <!-- Portfolio Item -->
                                        <div class="item col-lg-4 col-sm-6 design">
                                            <figure>
                                                <img alt="" src="img/portfolio/img-8.jpg">
                                                <figcaption>
                                                    <h3>نام پروژه</h3>
                                                    <p>برند</p><i class="fas fa-image"></i>
                                                    <a class="image-link" href="img/portfolio/img-8.jpg"></a>
                                                </figcaption>
                                            </figure>
                                        </div>

                                        <!-- Portfolio Item -->
                                        <div class="item col-lg-4 col-sm-6 brand">
                                            <figure>
                                                <img alt="" src="img/portfolio/img-9.jpg">
                                                <figcaption>
                                                    <h3>نام پروژه</h3>
                                                    <p>گرافیک</p><i class="fas fa-image"></i>
                                                    <a class="image-link" href="img/portfolio/img-9.jpg"></a>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <!-- Blog Section -->
                            <div class="page pt-blog" data-simplebar>
                                <section class="container">

                                    <!-- Section Title -->
                                    <div class="header-page mt-70 mob-mt">
                                        <h2>بلاگ</h2>
                                        <span></span>
                                    </div>

                                    <!-- Blog Row Start -->
                                    <div class="row blog-masonry mt-100 mb-50">

                                        <!-- Blog Item -->
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="blog-item">
                                                <div class="thumbnail">
                                                    <a href="blog-single.html"><img alt="" src="img/blog/img-1.jpg"></a>
                                                </div>
                                                <h4><a href="blog-single.html">راه موفقیت</a></h4>
                                                <ul>
                                                    <li><a href="#">15 اسفند 1398</a></li>
                                                    <li><a href="#">سبک زندگی</a></li>
                                                </ul>
                                                <div class="blog-btn">
                                                    <a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Blog Item -->
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="blog-item">
                                                <div class="thumbnail">
                                                    <a href="blog-single.html"><img alt="" src="img/blog/img-2.jpg"></a>
                                                    <a href="video/video-iframe.html" class="btn-play"></a>
                                                </div>
                                                <h4><a href="blog-single.html">راه موفقیت</a></h4>
                                                <ul>
                                                    <li><a href="#">10 اسفند 1398</a></li>
                                                    <li><a href="#">سبک زندگی</a></li>
                                                </ul>
                                                <div class="blog-btn">
                                                    <a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Blog Item -->
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="blog-item">
                                                <div class="thumbnail">
                                                    <a href="blog-single.html"><img alt="" src="img/blog/img-3.jpg"></a>
                                                </div>
                                                <h4><a href="blog-single.html">راه موفقیت</a></h4>
                                                <ul>
                                                    <li><a href="#">2 اسفند 1398</a></li>
                                                    <li><a href="#">کار</a></li>
                                                </ul>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                                                <div class="blog-btn">
                                                    <a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Blog Item -->
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="blog-item">
                                                <div class="thumbnail">
                                                    <a href="blog-single.html"><img alt="" src="img/blog/img-4.jpg"></a>
                                                </div>
                                                <h4><a href="blog-single.html">راه موفقیت</a></h4>
                                                <ul>
                                                    <li><a href="#">29 بهمن 1398</a></li>
                                                    <li><a href="#">حرفه</a></li>
                                                </ul>
                                                <div class="blog-btn">
                                                    <a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Blog Item -->
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="blog-item">
                                                <div class="thumbnail">
                                                    <a href="blog-single.html"><img alt="" src="img/blog/img-5.jpg"></a>
                                                </div>
                                                <h4><a href="blog-single.html">راه موفقیت</a></h4>
                                                <ul>
                                                    <li><a href="#">14 بهمن 1398</a></li>
                                                    <li><a href="#">سبک زندگی</a></li>
                                                </ul>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                                                <div class="blog-btn">
                                                    <a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Blog Item -->
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="blog-item">
                                                <div class="thumbnail">
                                                    <a href="blog-single.html"><img alt="" src="img/blog/img-6.jpg"></a>
                                                    <a href="video/video-iframe.html" class="btn-play"></a>
                                                </div>
                                                <h4><a href="blog-single.html">راه موفقیت</a></h4>
                                                <ul>
                                                    <li><a href="#">29 دی 1398</a></li>
                                                    <li><a href="#">حرفه</a></li>
                                                </ul>
                                                <div class="blog-btn">
                                                    <a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-60 mb-90">
                                        <div class="col-lg-12 col-sm-12 text-center">
                                            <a href="blog-list.html" class="btn-st">مشاهده همه مطالب بلاگ</a>
                                        </div>
                                    </div>

                                </section>
                            </div>

                            <!-- Contact Section -->
                            <div class="page pt-contact" data-simplebar>
                                <section class="container">

                                    <!-- Section Title -->
                                    <div class="header-page mt-70 mob-mt">
                                        <h2>تماس</h2>
                                        <span></span>
                                    </div>

                                    <!-- Form Start -->
                                    <div class="row mt-100">
                                        <div class="col-lg-12 col-sm-12">
                                            <div class="contact-form ">
                                                <form method="post" class="box-1 contact-valid" id="contact-form">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-12">
                                                            <input type="text" name="name" id="name" class="form-control" placeholder="نام *">
                                                        </div>
                                                        <div class="col-lg-6 col-sm-12 mt-3 mt-lg-0">
                                                            <input type="email" name="email" id="email" class="form-control" placeholder="* ایمیل" dir="ltr">
                                                        </div>
                                                        <div class="col-lg-12 col-sm-12">
                                                            <textarea class="form-control" name="note" id="note" placeholder="پیام شما"></textarea>
                                                        </div>
                                                        <div class="col-lg-12 col-sm-12 text-center">
                                                            <button type="submit" class="btn-st">ارسال پیام</button>
                                                            <div id="loader">
                                                                <i class="fas fa-sync"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-sm-12">
                                                            <div class="error-messages">
                                                                <div id="success">
                                                                    <i class="far fa-check-circle"></i>متشکریم، پیام شما ارسال شد.
                                                                </div>
                                                                <div id="error">
                                                                    <i class="far fa-times-circle"></i>خطایی در هنگام ارسال ایمیل رخ داد. لطفا مجدد تلاش کنید.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Contact Info -->
                                    <div class="box-2 contact-info">
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-12 info">
                                                <i class="fas fa-paper-plane"></i>
                                                <p>example@example.com</p>
                                                <span>ایمیل</span>
                                            </div>
                                            <div class="col-lg-4 col-sm-12 info">
                                                <i class="fas fa-map-marker-alt"></i>
                                                <p>تبریز، فلکه دانشگاه، برج بلور، طبقه 567</p>
                                                <span>آدرس</span>
                                            </div>
                                            <div class="col-lg-4 col-sm-12 info">
                                                <i class="fas fa-phone"></i>
                                                <p><span class="ltr-text">(+98) 123 456 7890</span></p>
                                                <span>تلفن</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Google Map Start-->
                                    <div class="google-map box-1 mt-100 mb-100">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div id="map" data-latitude="40.712775" data-longitude="-74.005973" data-zoom="14"></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
