@page
@model EndPoint.Areas.Admin.Pages.Favorites.EditModel
@{
    ViewData["Title"]= "ویرایش علاقه من";
}


<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">

        <div class="content-body">
            <!-- Basic Horizontal form layout section start -->
            <!-- // Basic multiple Column Form section start -->
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">@ViewData["Title"]</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form" method="post">
                                        <input type="hidden" asp-for="Input.FavoriteId"/>
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <label asp-for="Input.Text"></label>
                                                    <div class="form-label-group">

                                                        <input type="text" asp-for="Input.Text" class="form-control">
                                                        <span asp-validation-for="Input.Text"></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-12">
                                                    <label asp-for="Input.Icon"></label>
                                                    <div class="form-label-group">

                                                        <input type="text" asp-for="Input.Icon" class="form-control">
                                                        <span asp-validation-for="Input.Icon"></span>
                                                    </div>
                                                </div>

                                            
                                                <div class="col-12 d-flex justify-content-end">
                                                    <button type="submit" class="btn btn-primary mr-1 mb-1">ایجاد</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Basic multiple Column Form section end -->

        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
 }
}

