@page
@model EndPoint.Areas.Admin.Pages.Contact.IndexModel
@{
    ViewData["Title"] = "لیست پیام ها";
}


@section Scripts
{
    <script src="/AdminAssets/js/scripts/datatables/datatable.js"></script>

}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row">
            </div>
            
            <section id="basic-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                     
                            <div class="card-content">
                                <div class="card-body card-dashboard">

                                    <div class="table-responsive">
                                        <table class="table zero-configuration">
                                            <thead>
                                                <tr>
                                                    <th>ردیف</th>
                                                    <th>نام</th>
                                                    <th>ایمیل</th>
                                                    <th>دستورات</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var item in Model.Input)
                                            {
                                                <tr>
                                                    <td>@item.ContactUsId</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Email</td>
                                                    <td>
                                                        <a asp-page="./Message" asp-route-contactUsId="@item.ContactUsId" class="btn btn-primary">نمایش پیام</a>
                                                    </td>
                                                </tr>
                                            }
                                           
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
</div>